.nft {
  background-image: url('../../assets/images/nft-items-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 115px 0 119px;

  .slider {
    max-width: 640px;
    margin: 0 auto;
    height: 709px;
    background-image: url('../../assets/images/nft-item-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 137px;
  }

  .slide {
    display: flex;
    transition: transform 0.3s;

    .image {
      width: 251px;
      margin: 0 auto;
      height: auto;
    }

    &:hover {
      transform: translateY(-15px);
      transition: transform 0.3s;
    }
  }
}

@media (max-width: 600px) {
  .nft {
    padding: 40px 0;

    .slider {
      max-width: 540px;
      height: 630px;
      padding: 0 105px;
    }

    .slide .image {
      width: 210px;
    }
  }
}

@media (max-width: 580px) {
  .nft {
    .slider {
      max-width: 420px;
      height: 545px;
      padding: 0 69px;
    }

    .slide .image {
      width: 180px;
    }
  }
}

@media (max-width: 450px) {
  .nft {
    .slider {
      max-width: 370px;
      height: 480px;
      padding: 0 58px;
    }

    .slide .image {
      width: 150px;
    }
  }
}

@media (max-width: 390px) {
  .nft {
    .slider {
      max-width: 325px;
      height: 410px;
      padding: 0 54px;
    }

    .slide .image {
      width: 130px;
    }
  }
}
