.navbar {
  padding: 13.8px 64px 29.81px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('../../assets/images/navbar-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;

  .logo {
    display: block;
    transition: transform 0.3s;

    img {
      width: 128px;
      height: 72.39px;
    }

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s;
    }
  }

  .links {
    display: flex;
    gap: 0 55px;

    .link {
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      transition: color 0.3s, transform 0.3s;

      &:hover {
        color: #d8801c;
        transition: color 0.3s, transform 0.3s;
        transform: scale(1.1);
      }
    }
  }
}

@media (max-width: 1350px) {
  .navbar {
    padding-top: 8px;
  }
}

@media (max-width: 1230px) {
  .navbar {
    .btn {
      padding: 15px 25px;
      font-size: 24px;
    }

    .links {
      gap: 0 40px;

      .link {
        font-size: 17px;
      }
    }
  }
}

@media (max-width: 1120px) {
  .navbar {
    padding-top: 4px;
  }
}

@media (max-width: 1070px) {
  .container {
    width: 100%;
  }

  .navbar {
    height: 120px;
    padding: 5px 5%;
    background-size: cover;
  }
}

@media (max-width: 768px) {
  .navbar {
    .links {
      display: none;
    }
  }
}
